*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body:not(header) {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #777777;
    padding: 30px;
    height: 95vh;
}

.row {
    max-width: 75%;
    margin: 0 auto;
}

.row:not(:last-child){
    margin-bottom: 30rem;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

[class^="col-"] {
    float: left;
}
[class^="col-"]:not(:last-child) {
    margin-right: 2rem;
}

.col-1-of-2 {
    width: calc((100% - 2rem) / 2);
}

.col-1-of-3 {
    width: calc((100% - (2 * 2rem)) / 3);
}

.col-2-of-3 {
    width: calc(2 * ((100% - (2 * 2rem)) / 3) + 2rem);
}

.col-1-of-4 {
    width: calc((100% - (3 * 2rem)) / 4);
}

.col-2-of-4 {
    width: calc(2 * ((100% - (3 * 2rem)) / 4) + 2rem);
}
.col-3-of-4 {
    width: calc(3 * ((100% - (3 * 2rem)) / 4) + 4rem);
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #ffa62d, #f54507);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    margin-bottom: 80px;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #ffa62d, #f54507);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    margin-bottom: 1rem;
}
a {
    font-size: 1.5rem;
    color: #3b3b3d;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #3b3b3d;
    padding: 3px;
    transition: all .2s;
    backface-visibility: hidden;
    margin-left: 3rem;
}

a:hover {
    background-color: #ec7814;
    color: #e1e4ec;
    box-shadow: 0 .1rem 2rem rgba(0, 0, 0, .5);
    transform: translateY(-2px);
}

a:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    transform: translateY(0);
}
